﻿@model CoreNewRequirment.Models.UserDetail



<div class="row">
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        <h4>Login</h4>
        <hr />
        @using (Html.BeginForm())
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
            <div style="color:red">@ViewBag.ValidationMessage</div>
        }

    </div>
    </div>

