﻿@model IEnumerable<CoreNewRequirment.Models.AthleteResult>
<script>
    function logout() {
       window.location.href= '@Url.Action("Logout", "Home")'
    }
</script>
<div  style="float:right">
    welcome @ViewBag.FirstName @ViewBag.LastName <button class="btn btn-info" onclick="logout()">Logout</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
                @if (item.TestName.Contains("Sprint"))
                {<span>seconds</span>}
                @if (item.TestName.Contains("Cooper"))
                {<span> meters</span>}
            </td>
        </tr>
}
    </tbody>
</table>
