﻿@using CoreNewRequirment.Models;
@model IEnumerable<GetTestAthlete>

<script>
    $(function () {
        if ($('#TestName').html().indexOf('Cooper Test') != -1) {
            $('#CooperTestParam').show()
            $('#AthleteScoreLabel').html("Distance(meter)");
        }
        else if ($('#TestName').html().indexOf('Sprint Test') != -1) {
            $('#SprintTestParam').show()
            $('#AthleteScoreLabel').html("Time(second)");
        }

    })
    function DeleteTest() {
        if (confirm("Are you sure you want to delete test?")) {
            $.ajax({
                url: "@Url.Action("DeleteTest", "Test")",
                data: { "testId": $('#testId').html() },
                success: function () {
                    window.location.href = "@Url.Action("Index", "Test")"
                         },
                error: function () {
                    alert("Something went wrong.")
                }
            });
        }
        else {
            window.location.href = "@Url.Action("Index", "Test")"
        }
    }

    function ResetForm() {
        $('#AthleteList').val("")
        $('#AthleteScore').val("")
        $('#UserTestId').val("")
    }
    function AddNewAthlete() {
        ResetForm()
        $('#EditAthlete').hide()
        $('#EditAthleteForTest').hide()
        $('#AddAthlete').show()
        $('#AddAthleteForTest').show()
        $('#DeleteAthleteFromTest').hide()
        var dynamicDropDown = "";
        $.ajax({
                url: "@Url.Action("GetAthleteForTest", "Test")",
            data: { "auFlag":'add',"testId": $('#testId').html() },
                success: function (data) {
                    data.forEach(function (item) {
                        dynamicDropDown += "<option value="+item.userId+">"+item.firstName +" "+item.lastName+"</option>"
                    })
                    $('#AthleteList').html(dynamicDropDown)
                         },
            error: function () {
                alert("Something went wrong.")
                }
        });
        $('#AddNewAthlete').modal()
    }
    function AddAthleteForTest() {
        if ($('#AthleteScore').val() < 0) {
            $('#ScoreValidation').show()
        }
        else {
            $.ajax({
                url: "@Url.Action("AddAthleteInTest", "Test")",
                type: 'POST',
                data: { "UserId": $('#AthleteList').val(), "TestId": $('#testId').html(),"Score": $('#AthleteScore').val()},
                success: function (data) {
                    $('#AddNewAthlete').modal('hide')
                    if (data == 'Failure') {
                        alert("Something went wrong.")
                    }
                    else if (data == 'Sucess') {
                        $('#AthleteScore').val("")
                        AddNewAthlete()
                        alert("Athlete added sucessfully")
                        location.reload();
                    }
                         },
                error: function () {
                    alert("Something went wrong.")
                }
        });

            $('#AddNewAthlete').modal('hide')
        }
    }
    function EditAthlete(UserTestId,UserId, Score) {
        ResetForm()
        $('#AddAthlete').hide()
        $('#AddAthleteForTest').hide()
        $('#EditAthlete').show()
        $('#EditAthleteForTest').show()
        $('#DeleteAthleteFromTest').show()
        localStorage.setItem("UserTestID", UserTestId)
        var dynamicDropDown = "";
        $.ajax({
                url: "@Url.Action("GetAthleteForTest", "Test")",
            data: { "auFlag":'update',"testId": $('#testId').html() },
            success: function (data) {
                localStorage.setItem("AthleteListForUpdate", JSON.stringify(data))
                    data.forEach(function (item) {
                        dynamicDropDown += "<option value="+item.userId+">"+item.firstName +" "+item.lastName+"</option>"
                    })
                    $('#AthleteList').html(dynamicDropDown)
                    $('#AthleteList').val(UserId).change();
                         },
            error: function () {
                alert("Something went wrong.")
                }
        });
        $('#AthleteScore').val(Score)
        $('#UserTestId').val(UserTestId)
        $('#AddNewAthlete').modal()
    }
    function AthleteChange() {
        var data = localStorage.getItem("AthleteListForUpdate");
        data = JSON.parse(data);
        data = data.find(x => x.userId == parseInt($('#AthleteList').val()))
        if (data != '') {
            $('#AthleteScore').val(data.score)
        }
        $('#UserTestId').val(localStorage.getItem("UserTestID"))
    }
    function EditAthleteForTest() {
        if ($('#AthleteScore').val() < 0) {
            $('#ScoreValidation').show()
        }
        else {
            $.ajax({
                url: "@Url.Action("UpdateAthleteInTest", "Test")",
                type: 'POST',
                data: { "UserId": $('#AthleteList').val(), "TestId": $('#testId').html(),"Score": $('#AthleteScore').val()},
                success: function (data) {
                    $('#AddNewAthlete').modal('hide')
                    if (data == 'Failure') {
                        alert("Something went wrong.")
                    }
                    else if (data == 'Sucess') {
                        $('#AthleteScore').val("")
                        AddNewAthlete()
                        alert("Athlete updated sucessfully")
                        location.reload();
                    }
                         },
                error: function () {
                    alert("Something went wrong.")
                }
        });

            $('#AddNewAthlete').modal('hide')
        }
    }
 
    function DeleteAthleteForTest() {
        if (confirm("Do you want to delete this athlete from test?")) {
             $.ajax({
                url: "@Url.Action("DeleteAthleteFromTest", "Test")",
                 data: { "userTestId": $('#UserTestId').val()},
                 success: function (data) {
                     if (data == "Failure") {
                         alert("Something went wrong.")
                     }
                     else {
                         location.reload();
                     }
                         },
                 error: function () {
                    alert("Someting went wrong.")
                }
            });
        }
        else {
            $('#AddNewAthlete').modal('hide')
        }
    }
    function logout() {
        window.location.href= '@Url.Action("Logout", "Home")'
    }
    function Back() {
        window.location.href= '@Url.Action("Index", "Test")'
    }
</script>
<div style="float:left">
    <button onclick="Back()" class="btn btn-info">Back</button>
</div>
<div  style="float:right">
    welcome @ViewBag.FirstName @ViewBag.LastName <button class="btn btn-info" onclick="logout()">Logout</button>
</div>
<div id="AddNewAthlete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="AddAthlete" style="display:none">ADD NEW ATHLETE TO TEST</h4>
                <h4 class="modal-title" id="EditAthlete" style="display:none">CHANGE DATA FOR ATHLETE</h4>
            </div>
            <div class="modal-body" style="min-height:90px">
                <input type="text" id="UserTestId" style="display:none" />
                <div class="col-md-12">
                    <label class="col-md-3">Name</label>
                    <select id="AthleteList" onchange="AthleteChange()" class="col-md-9">
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3" id="AthleteScoreLabel">Distance(meter)</label>
                    <input type="number" class="col-md-9" id="AthleteScore" autocomplete="off" />
                    <div id="ScoreValidation" style="color:red;display:none;">Score must be non negative value.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="AddAthleteForTest()" style="display:none" id="AddAthleteForTest" class="btn btn-default">Save</button>
                <button type="button" onclick="DeleteAthleteForTest()" style="display:none" id="DeleteAthleteFromTest" class="btn btn-default">DELETE ATHLETE FROM TEST</button>
                <button type="button" onclick="EditAthleteForTest()" style="display:none" id="EditAthleteForTest" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<center><h4 id="TestName">@ViewBag.TestName</h4></center>
<div id="testId" style="display:none;">@ViewBag.TestId</div>
<div style="width: 100%;margin-top:10px;">
    <div class="table-responsive" style="width: 98%;">
        <table class="table  table-bordered  table-striped  tblFloor" cellspacing="0">
            <thead>
                <tr class="">
                    <th class="tblheader">Ranking</th>
                    <th class="tblheader" style="display:none" id="CooperTestParam">Distance(meter)</th>
                    <th class="tblheader" style="display:none" id="SprintTestParam">Time(second)</th>
                    <th class="cls_action tblheader">Fitness rating</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="" class="" onclick="EditAthlete(@item.UserTestId,@item.UserId,@item.Score)">
                    <td class="tbl50 tblheader countclass countclass">
                        @item.FirstName @item.LastName
                    </td>
                    <td title="" class="tbl200 tblheader">
                        @item.Score
                    </td>
                    <td title="" class="tbl350 tblheader">
                        @item.FitnessRating
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<center>(Click on player to change data)</center>
<center><button type="button" id="AddNewAthlete" style="margin-top:10px" onclick="AddNewAthlete()" class="btn btn-info">ADD NEW ATHLETE TO TEST</button></center>
<center><button type="button" id="DeleteTest" style="margin-top:5px" onclick="DeleteTest()" class="btn btn-info">DELETE TEST</button></center>
@*<div id="testdata" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">CREATE NEW TEST</span></b></h4>
                </div>
                <div id="CalenderBody" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="ConformBookRoom" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Add Athlete" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">ADD NEW ATHLETE TO TEST</span></b></h4>
                </div>
                <div id="AddAthleteBODY" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="AddAthletebtn" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="changedataathlete" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">CHANGE DATAFOR ATHLETE</span></b></h4>
                </div>
                <div id="changedataathleteBODY" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="deletedataathleteBTN" class="btn btn-info pull-right">Delete</button>
                    <button type="button" id="changedataathleteBTN" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Conform" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">CONFIRM</span></b></h4>
                    <p>Do you want to delete this athlete from test</p>
                </div>
                <div id="ConformBody" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="Nobtn" class="btn btn-info pull-right">No</button>
                    <button type="button" id="Yestbtn" class="btn btn-info pull-right">Yes</button>
                </div>
            </div>
        </div>
    </div>*@
