﻿@using CoreNewRequirment.Models;
@model IEnumerable<GetAllTest>

<script>
    $(function () {
        $('#Date').datepicker();
    })

    function CreateTest() {
        $("#CreateTest").modal()
    }
    function SaveTest() {
        if ($('#Date').val().trim() != '') {
            $.ajax({
                url: "@Url.Action("IsTestExist", "Test")",
                data: { "TestMasterId": $('#TestType').val(), "Date": $('#Date').val() },
                success: function (data) {
                    if (data == 'notfound') {
                        $.ajax({
                            url: "@Url.Action("CreateTest", "Test")",
                            data: { "TestMasterId": $('#TestType').val(), "Date": $('#Date').val() },
                            success: function () {
                                window.location.href = "@Url.Action("Index", "Test")"
                            },
                            error: function () {
                                alert("Something went wrong.")
                            }
                        });
                    }
                    else {
                        if (confirm("Test for same day is already do you want to add other one?")) {
                            $.ajax({
                                url: "@Url.Action("CreateTest", "Test")",
                                data: { "TestMasterId": $('#TestType').val(), "Date": $('#Date').val() },
                                success: function () {
                                    window.location.href = "@Url.Action("Index", "Test")"
                                },
                                error: function () {
                                    alert("Something went wrong.")
                                }
                            });
                        }
                    }
                },
                error: function () {
                    alert("Something went wrong.")
                }
            });

            $("#CreateTest").modal("hide")
        }
        else {
            $('#formValidationMessage').show()
        }
    }
    function logout() {
        window.location.href= '@Url.Action("Logout", "Home")'
    }
    function redirect(redirectUrl) {
        window.location.href = redirectUrl;
    }
</script>
<div  style="float:right">
    welcome @ViewBag.FirstName @ViewBag.LastName <button class="btn btn-info" onclick="logout()" >Logout</button>
</div>
<div id="CreateTest" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Test</h4>
            </div>
            <div class="modal-body" style="min-height:90px">
                <div class="col-md-12">
                    <label class="col-md-3">Type</label>
                    <select id="TestType" class="col-md-9">
                        <option value="1">Cooper Test</option>
                        <option value="2">Sprint Test</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="col-md-3">Date</label>
                    <input type="text" id="Date" class="col-md-9" autocomplete="off" />
                    <div id="formValidationMessage" style="color:red;display:none">Date is required.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SaveTest()" class="btn btn-default">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<center>
    <div class="">
        <button type="button" class="btn btn-info" onclick="CreateTest()">CREATE NEW TEST</button>
    </div>
</center>
<div style="width: 100%;margin-top:10px;">
    <div class="table-responsive" style="width: 98%;">
        <table class="table  table-bordered  table-striped  tblFloor" cellspacing="0">
            <thead>
                <tr class="">
                    <th class="tblheader">Date</th>
                    <th class="tblheader">No of Participants</th>
                    <th class="cls_action tblheader">TestType</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="" class="" onclick="redirect('GetTestAthlete?testid=@item.TestId&testname=@item.Name&date=@item.Date&testid=@item.TestId')">
                        <td class="tbl50 tblheader countclass countclass">
                            @item.Date.ToShortDateString()
                        </td>
                        <td title="" class="tbl200 tblheader">
                            @item.AthleteCount
                        </td>
                        <td title="" class="tbl350 tblheader">
                            @item.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*<div id="testdata" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">CREATE NEW TEST</span></b></h4>
                </div>
                <div id="CalenderBody" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="ConformBookRoom" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Add Athlete" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">ADD NEW ATHLETE TO TEST</span></b></h4>
                </div>
                <div id="AddAthleteBODY" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="AddAthletebtn" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="changedataathlete" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">CHANGE DATAFOR ATHLETE</span></b></h4>
                </div>
                <div id="changedataathleteBODY" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="deletedataathleteBTN" class="btn btn-info pull-right">Delete</button>
                    <button type="button" id="changedataathleteBTN" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Conform" class="modal fade event-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b><span id="eventTitle">CONFIRM</span></b></h4>
                    <p>Do you want to delete this athlete from test</p>
                </div>
                <div id="ConformBody" class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" id="Nobtn" class="btn btn-info pull-right">No</button>
                    <button type="button" id="Yestbtn" class="btn btn-info pull-right">Yes</button>
                </div>
            </div>
        </div>
    </div>*@
